# Xcode
*.xcuserstate
xcuserdata/

# CocoaPods
Podfile
Podfile.lock
Pods/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Build Artifacts
build/
DerivedData/
*.app
*.ipa
*.dSYM

# Code Coverage
*.xccoverage

# Downloaded xcframeworks (local dev only)
CometChatUIKitSwift/CometChatUIKitSwift.xcframework/
