<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.cometchat.background-refresh</string>
	</array>
	<key>CFBundleURLSchemes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.950141434859-rlq2ho5gi0bf9ujgdo1tn59o1rh28amh</string>
		</dict>
	</array>
	<key>CometChatSDK</key>
	<string>4.1.6</string>
	<key>NSCameraUsageDescription</key>
	<string>CometChat needs access to your camera to enable video calls and share photos.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>CometChat needs access to your microphone to enable voice and video calls.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>CometChat needs access to your photo library to share photos in chat.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>audio</string>
		<string>processing</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
</dict>
</plist>
