<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950141434859-mimmjt77oiagrq66nma4r6384acvfohs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950141434859-mimmjt77oiagrq66nma4r6384acvfohs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>950141434859-082r7la3902v8l4627r0fq2gfqcek8t2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5EP9RWuOWJA8PeZ58sd8XvnLbpytuuI8</string>
	<key>GCM_SENDER_ID</key>
	<string>950141434859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cometchat.sampleapp.swift</string>
	<key>PROJECT_ID</key>
	<string>cometchatteammessanger</string>
	<key>STORAGE_BUCKET</key>
	<string>cometchatteammessanger.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950141434859:ios:e6693527a8691d1bee77ae</string>
</dict>
</plist>